@font-face {
    font-family: 'ITC Gothic';
    src: url('SerifGothic-Light.woff2') format('woff2'),
        url('SerifGothic-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Regular.woff2') format('woff2'),
        url('EuclidCircularA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.euclid {
    font-family: 'Euclid Circular A', sans-serif;
  }

html{
    background-color: rgb(0, 0, 0);
    z-index: -1;
    
}
.flex-container {
  display: flex;
  justify-content:flex-start;
}
.flex-container .left{
    display: flex;
    flex-direction: column;
    width: 50vh; 
    flex: 0 1 auto;
  }
.flex-container .left > div {
  width: 7vh;
  margin:0vh;
  text-align: center;
  line-height:1vh;
  font-size: 0.5vh;
}
.one p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:5.5vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.one img{
    width:8vh;
    position: fixed;
    left:-0.3vh;

}
.two img{
    width:9vh;
    position: fixed;
    left:-0.3vh;
    top:9vh;


}
.two p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:14vh;
    left:7.5vh;
    transform: rotate(15deg);
}
.three img{
    width:11vh;
    position: fixed;
    left:-1.7vh;
    top:16vh;

}

.three p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:22vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.four img{
    width:17vh;
    position: fixed;
    left:-4.7vh;
    top:21.6vh;

}
.four p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:31.9vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.five img{
    width:20vh;
    position: fixed;
    left:-6.4vh;
    top:28vh;

}
.five p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:40.4vh;
    left:7.5vh;
    transform: rotate(15deg);
}
.six img{
    width:23vh;
    position: fixed;
    left:-7.8vh;
    top:36vh;

}
.six p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:48.5vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.seven img{
    width:26vh;
    position: fixed;
    left:-9.2vh;
    top:43.7vh;

}
.seven p{
    font-family: 'ITC Gothic';
    color: white;
   
    position: fixed;
    top:57.8vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.eight img{
    width:17vh;
    position: fixed;
    left:-4.3vh;
    top:58vh;

}
.eight p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:68vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.nine img{
    width:15vh;
    position: fixed;
    left:-4vh;
    top:68vh;

}
.nine p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:77vh;
    left:7vh;
    transform: rotate(15deg);
}

#collection {
    width: 100%;
	display: flex;
	flex-wrap:wrap;
    align-content:flex-start;
	justify-content: space-between;
}
#collection > .item{
	font-family: 'ITC Gothic';
    font-size:xx-small;
    flex: 0 1 25%; 
    height: 40vh;
    line-height: 60vh;
    margin-left: 6vw;

}

a {
    color:#ffffff;
    text-decoration:none;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.data1{
    width:13vw;
    position:relative;
    bottom:153vh;
    left:22.4vw
}
.data1:hover{
    opacity: 0.5;
}

.data2{
    width:8vw;
    position:relative;
    bottom:153vh;
    left:10.5vw
}
.data2:hover{
    opacity: 0.5;
}
.data3{
    width:6vw;
    position:relative;
    bottom:146vh;
    left:6vw
}

.data3:hover{
    opacity: 0.5;
}

.data4{
    width:4.5vw;
    position:relative;
    bottom:146vh;
    left:3.5vw
}
.data4:hover{
    opacity: 0.5;
}

.data5{
    width:3vw;
    position:relative;
    bottom:142vh;
    left:-9vw
}
.data5:hover{
    opacity: 0.5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
}

.hover-img  {
    font-family: 'Euclid Circular A';
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container01:hover .hover-img {
    display: block;
  }

  .hover-img1 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img1 {
    display: block;
  }

  .hover-img3 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img3 {
    display: block;
  }

  .hover-img4 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 42vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img4 {
    display: block;
  }

  .hover-img5 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 37vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img5 {
    display: block;
  }
  
  .data6{
    width:6vw;
    position:relative;
    bottom:150vh;
    left:17vw
}
.data6:hover{
    opacity: 0.5;
}
.hover-img6 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img6 {
    display: block;
  }
  
  
.data7{
    width:4.5vw;
    position:relative;
    bottom:146vh;
    left:13vw
}
.data7:hover{
    opacity: 0.5;
}
.hover-img7 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img7 {
    display: block;
  }
  

.data8{
    width:3.5vw;
    position:relative;
    bottom:146vh;
    left:11vw
}
.data8:hover{
    opacity: 0.5;
}
.hover-img8 {
    display: none;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img8 {
    display: block;
  }

.data9{
    width:2.5vw;
    position:relative;
    bottom:150vh;
    left:7vw
}
.data9:hover{
    opacity: 0.5;
}
.hover-img9 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img9 {
    display: block;
  }


.data10{
    width:2vw;
    position:relative;
    bottom:148vh;
    left:-1vw
}
.data10:hover{
    opacity: 0.5;
}
.hover-img10 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img10 {
    display: block;
  }
  .data11{
    width:6.5vw;
    position:relative;
    bottom:149vh;
    left:23vw
}
.data11:hover{
    opacity: 0.5;
}
.hover-img11 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img11 {
    display: block;
  }
.data12{
    width:5.3vw;
    position:relative;
    bottom:151vh;
    left:19vw
}
.data12:hover{
    opacity: 0.5;
}
.hover-img12 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img12 {
    display: block;
  }
.data13{
    width:4.3vw;
    position:relative;
    bottom:147vh;
    left:15vw
}
.data13:hover{
    opacity: 0.5;
}
.hover-img13 {
    display: none;
    width: 39vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img13 {
    display: block;
  }
.data14{
    width:3.3vw;
    position:relative;
    bottom:153vh;
    left:12vw
}
.data14:hover{
    opacity: 0.5;
}
.hover-img14 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img14 {
    display: block;
  }
.data15{
    width:2.3vw;
    position:relative;
    bottom:144vh;
    left:12vw
}
.data15:hover{
    opacity: 0.5;
}
.hover-img15 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img15 {
    display: block;
  }
  .data16{
    width:8vw;
    position:relative;
    bottom:113vh;
    left:-50vw
}
.data16:hover{
    opacity: 0.5;
}
.hover-img16 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img16 {
    display: block;
  }
.data17{
    width:6.5vw;
    position:relative;
    bottom:116vh;
    left:-58vw
}
.data17:hover{
    opacity: 0.5;
}
.hover-img17 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img17 {
    display: block;
  }
.data18{
    width:5vw;
    position:relative;
    bottom:110vh;
    left:-65vw
}
.data18:hover{
    opacity: 0.5;
}
.hover-img18 {
    display: none;
    width: 38vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img18 {
    display: block;
  }

.data19{
    width:3.6vw;
    position:relative;
    bottom:119vh;
    left:-71vw
}
.data19:hover{
    opacity: 0.5;
}
.hover-img19 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img19 {
    display: block;
  }
.data20{
    width:2.5vw;
    position:relative;
    bottom:119vh;
    left:32vw
}
  
.data20:hover{
    opacity: 0.5;
}
.hover-img20 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img20 {
    display: block;
  }
  
  .data21{
    width:8vw;
    position:relative;
    bottom:131vh;
    left:47vw
}
.data21:hover{
    opacity: 0.5;
}
.hover-img21 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img21 {
    display: block;
  }
.data22{
    width:6vw;
    position:relative;
    bottom:126vh;
    left:43vw
}
.data22:hover{
    opacity: 0.5;
}
.hover-img22 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img22 {
    display: block;
  }

.data23{
    width:5.2vw;
    position:relative;
    bottom:129vh;
    left:38vw
}
.data23:hover{
    opacity: 0.5;
}
.hover-img23 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img23 {
    display: block;
  }
.data24{
    width:4vw;
    position:relative;
    bottom:126vh;
    left:35vw
}
.data24:hover{
    opacity: 0.5;
}
.hover-img24 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img24 {
    display: block;
  }
.data25{
    width:2.5vw;
    position:relative;
    bottom:126vh;
    left:23vw
}
.data25:hover{
    opacity: 0.5;
}
.hover-img25 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img25 {
    display: block;
  }
  .data26{
    width:8vw;
    position:relative;
    bottom:131vh;
    left:48vw
}
.data27{
    width:6.5vw;
    position:relative;
    bottom:127vh;
    left:42vw
}
.data28{
    width:4.5vw;
    position:relative;
    bottom:127vh;
    left:42vw
}
  
  