@font-face {
    font-family: 'ITC Gothic';
    src: url('SerifGothic-Light.woff2') format('woff2'),
        url('SerifGothic-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Regular.woff2') format('woff2'),
        url('EuclidCircularA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.euclid {
    font-family: 'Euclid Circular A', sans-serif;
  }

html{
    background-color: rgb(0, 0, 0);
    z-index: -1;
    
}
.flex-container {
  display: flex;
  justify-content:flex-start;
}
.flex-container .left{
    display: flex;
    flex-direction: column;
    width: 50vh; 
    flex: 0 1 auto;
  }
.flex-container .left > div {
  width: 7vh;
  margin:0vh;
  text-align: center;
  line-height:1vh;
  font-size: 13px;
}
.one p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:5.1vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.one img{
    width:8vh;
    position: fixed;
    left:-0.3vh;

}
.two img{
    width:9vh;
    position: fixed;
    left:-0.3vh;
    top:9vh;


}
.two p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:13vh;
    left:7.5vh;
    transform: rotate(15deg);
}
.three img{
    width:11vh;
    position: fixed;
    left:-1.7vh;
    top:16vh;

}

.three p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:21.4vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.four img{
    width:17vh;
    position: fixed;
    left:-4.7vh;
    top:21.6vh;

}
.four p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:31vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.five img{
    width:20vh;
    position: fixed;
    left:-6.4vh;
    top:28vh;

}
.five p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:40vh;
    left:7.5vh;
    transform: rotate(15deg);
}
.six img{
    width:23vh;
    position: fixed;
    left:-7.8vh;
    top:36vh;

}
.six p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:48vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.seven img{
    width:26vh;
    position: fixed;
    left:-9.2vh;
    top:43.7vh;

}
.seven p{
    font-family: 'ITC Gothic';
    color: white;
   
    position: fixed;
    top:57vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.eight img{
    width:17vh;
    position: fixed;
    left:-4.3vh;
    top:58vh;

}
.eight p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:67.5vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.nine img{
    width:15vh;
    position: fixed;
    left:-4vh;
    top:68vh;

}
.nine p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:76vh;
    left:7vh;
    transform: rotate(15deg);
}
@media (min-width: 1030px) {
  .mobile{
    display: none;
  }
#collection > .item{
    font-family: 'ITC Gothic';
      font-size:xx-small;
      flex: 0 1 25%; 
      height: 40vh;
      line-height: 60vh;
      margin-left: 6vw;
      color: #ffffff;
  }
  #collection {
    width: 100%;
	display: flex;
	flex-wrap:wrap;
    align-content:flex-start;
	justify-content: space-between;
}
}

@media (max-width: 1030px) {
  .desktop{
    display: none;
  }
  
  .graph{
      display: none;
  }
 
  :root {
    --spacing: 1em;
  }
  
  
  #collection {
    display: flex;
    flex-wrap:wrap;
    flex: 1 0 21%;
    justify-content: center;
    color: #ffffff;
    font-family: 'ITC Gothic';
    margin-right: 5vw;
  }
  pre{
    font-size: 12px;
  }
  
  
  
  .item {
    border: 2px solid;
    padding:20px;
    max-width:200px;
    margin:20px;
    color: rgb(241, 255, 250);
    
  }
  
  
  
  .black {
    background-color:rgb(131, 6, 6);
    color:white;
  }
  
  .Cancer {
    background-color:#af402c;
  }
  
  .indifferent {
    border: 2px dashed;
    color: #ffffff;
  }

  
}

a {
    color:#ffffff;
    text-decoration:none;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.data1{
    width:13vw;
    position:relative;
    bottom:153vh;
    left:22.4vw
}
.data1:hover{
    opacity: 0.5;
}

.data2{
    width:8vw;
    position:relative;
    bottom:153vh;
    left:10.5vw
}
.data2:hover{
    opacity: 0.5;
}
.data3{
    width:6vw;
    position:relative;
    bottom:146vh;
    left:6vw
}

.data3:hover{
    opacity: 0.5;
}

.data4{
    width:4.5vw;
    position:relative;
    bottom:146vh;
    left:3.5vw
}
.data4:hover{
    opacity: 0.5;
}

.data5{
    width:3vw;
    position:relative;
    bottom:142vh;
    left:-9vw
}
.data5:hover{
    opacity: 0.5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
}

.hover-img  {
    font-family: 'Euclid Circular A';
    display: none;
    width: 48vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container01:hover .hover-img {
    display: block;
  }

  .hover-img1 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img1 {
    display: block;
  }

  .hover-img3 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img3 {
    display: block;
  }

  .hover-img4 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 42vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img4 {
    display: block;
  }

  .hover-img5 {
    font-family: 'Euclid Circular A';
    display: none;
    width: 37vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .container02:hover .hover-img5 {
    display: block;
  }
  
  .data6{
    width:6vw;
    position:relative;
    bottom:150vh;
    left:17vw
}
.data6:hover{
    opacity: 0.5;
}
.hover-img6 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img6 {
    display: block;
  }
  
  
.data7{
    width:4.5vw;
    position:relative;
    bottom:146vh;
    left:13vw
}
.data7:hover{
    opacity: 0.5;
}
.hover-img7 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img7 {
    display: block;
  }
  

.data8{
    width:3.5vw;
    position:relative;
    bottom:146vh;
    left:11vw
}
.data8:hover{
    opacity: 0.5;
}
.hover-img8 {
    display: none;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img8 {
    display: block;
  }

.data9{
    width:2.5vw;
    position:relative;
    bottom:150vh;
    left:7vw
}
.data9:hover{
    opacity: 0.5;
}
.hover-img9 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img9 {
    display: block;
  }


.data10{
    width:2vw;
    position:relative;
    bottom:148vh;
    left:-1vw
}
.data10:hover{
    opacity: 0.5;
}
.hover-img10 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img10 {
    display: block;
  }
  .data11{
    width:6.5vw;
    position:relative;
    bottom:149vh;
    left:23vw
}
.data11:hover{
    opacity: 0.5;
}
.hover-img11 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img11 {
    display: block;
  }
.data12{
    width:5.3vw;
    position:relative;
    bottom:151vh;
    left:19vw
}
.data12:hover{
    opacity: 0.5;
}
.hover-img12 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img12 {
    display: block;
  }
.data13{
    width:4.3vw;
    position:relative;
    bottom:147vh;
    left:15vw
}
.data13:hover{
    opacity: 0.5;
}
.hover-img13 {
    display: none;
    width: 39vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img13 {
    display: block;
  }
.data14{
    width:3.3vw;
    position:relative;
    bottom:153vh;
    left:12vw
}
.data14:hover{
    opacity: 0.5;
}
.hover-img14 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img14 {
    display: block;
  }
.data15{
    width:2.3vw;
    position:relative;
    bottom:144vh;
    left:12vw
}
.data15:hover{
    opacity: 0.5;
}
.hover-img15 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img15 {
    display: block;
  }
  .data16{
    width:8vw;
    position:relative;
    bottom:113vh;
    left:-50vw
}
.data16:hover{
    opacity: 0.5;
}
.hover-img16 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img16 {
    display: block;
  }
.data17{
    width:6.5vw;
    position:relative;
    bottom:116vh;
    left:-58vw
}
.data17:hover{
    opacity: 0.5;
}
.hover-img17 {
    display: none;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img17 {
    display: block;
  }
.data18{
    width:5vw;
    position:relative;
    bottom:110vh;
    left:-65vw
}
.data18:hover{
    opacity: 0.5;
}
.hover-img18 {
    display: none;
    width: 38vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img18 {
    display: block;
  }

.data19{
    width:3.6vw;
    position:relative;
    bottom:119vh;
    left:-71vw
}
.data19:hover{
    opacity: 0.5;
}
.hover-img19 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img19 {
    display: block;
  }
.data20{
    width:2.5vw;
    position:relative;
    bottom:119vh;
    left:32vw
}
  
.data20:hover{
    opacity: 0.5;
}
.hover-img20 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img20 {
    display: block;
  }
  
  .data21{
    width:8vw;
    position:relative;
    bottom:131vh;
    left:47vw
}
.data21:hover{
    opacity: 0.5;
}
.hover-img21 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img21 {
    display: block;
  }
.data22{
    width:6vw;
    position:relative;
    bottom:126vh;
    left:43vw
}
.data22:hover{
    opacity: 0.5;
}
.hover-img22 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img22 {
    display: block;
  }

.data23{
    width:5.2vw;
    position:relative;
    bottom:129vh;
    left:38vw
}
.data23:hover{
    opacity: 0.5;
}
.hover-img23 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img23 {
    display: block;
  }
.data24{
    width:4vw;
    position:relative;
    bottom:126vh;
    left:35vw
}
.data24:hover{
    opacity: 0.5;
}
.hover-img24 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img24 {
    display: block;
  }
.data25{
    width:2.5vw;
    position:relative;
    bottom:126vh;
    left:23vw
}
.data25:hover{
    opacity: 0.5;
}
.hover-img25 {
    display: none;
    width: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img25 {
    display: block;
  }
  .data26{
    width:8vw;
    position:relative;
    bottom:131vh;
    left:48vw
}
.data26:hover{
    opacity: 0.5;
}
.hover-img26 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img26 {
    display: block;
  }
.data27{
    width:6.5vw;
    position:relative;
    bottom:127vh;
    left:42vw
}
.data27:hover{
    opacity: 0.5;
}
.hover-img27 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img27 {
    display: block;
  }
.data28{
    width:4.5vw;
    position:relative;
    bottom:135vh;
    left:38vw
}
.data28:hover{
    opacity: 0.5;
}
.hover-img28 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img28{
    display: block;
  }
.data29{
    width:3.5vw;
    position:relative;
    bottom:129vh;
    left:35vw;
}
.data29:hover{
    opacity: 0.5;
}
.hover-img29 {
    display: none;
    width: 39vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img29{
    display: block;
  }

.data30{
    width:2.5vw;
    position:relative;
    bottom:120vh;
    left:34vw;
}
.data30:hover{
    opacity: 0.5;
}
.hover-img30 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img30{
    display: block;
  }
  
  .data31{
    width:8vw;
    position:relative;
    bottom:92vh;
    left:-27vw;
}
.data31:hover{
    opacity: 0.5;
}
.hover-img31 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img31{
    display: block;
  }
.data32{
    width:6.5vw;
    position:relative;
    bottom:88vh;
    left:-38vw;
}
.data32:hover{
    opacity: 0.5;
}
.hover-img32 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img32{
    display: block;
  }
.data33{
    width:4.7vw;
    position:relative;
    bottom:85vh;
    left:-41vw;
}
.data33:hover{
    opacity: 0.5;
}
.hover-img33 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img33{
    display: block;
  }
.data34{
    width:3.5vw;
    position:relative;
    bottom:85vh;
    left:-42vw;
}
.data34:hover{
    opacity: 0.5;
}
.hover-img34 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img34{
    display: block;
  }
.data35{
    width:2.3vw;
    position:relative;
    bottom:93vh;
    left:-52vw;
}
.data35:hover{
    opacity: 0.5;
}
.hover-img35 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img35{
    display: block;
  }
.data36{
    width:8vw;
    position:relative;
    bottom:90vh;
    left:-25vw;
}
.data36:hover{
    opacity: 0.5;
}
.hover-img36 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img36{
    display: block;
  }
.data37{
    width:6.4vw;
    position:relative;
    bottom:90vh;
    left:-35vw;
}
.data37:hover{
    opacity: 0.5;
}
.hover-img37 {
    display: none;
    width: 36vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img37{
    display: block;
  }
.data38{
    width:4.7vw;
    position:relative;
    bottom:85vh;
    left:-41vw;
}
.data38:hover{
    opacity: 0.5;
}
.hover-img38 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img38{
    display: block;
  }
.data39{
    width:3.4vw;
    position:relative;
    bottom:99vh;
    left:49vw;
}
.data39:hover{
    opacity: 0.5;
}
.hover-img39 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img39{
    display: block;
  }
.data40{
    width:2.5vw;
    position:relative;
    bottom:96vh;
    left:54vw;
}
.data40:hover{
    opacity: 0.5;
}
.hover-img40 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img40{
    display: block;
  }
.data41{
    width:8vw;
    position:relative;
    bottom:104vh;
    left:72vw;
}
.data41:hover{
    opacity: 0.5;
}
.hover-img41 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img41{
    display: block;
  }
.data42{
    width:6.3vw;
    position:relative;
    bottom:110vh;
    left:66vw;
}
.data42:hover{
    opacity: 0.5;
}
.hover-img42 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img42{
    display: block;
  }
.data43{
    width:4.9vw;
    position:relative;
    bottom:101vh;
    left:56.5vw;
}
.data43:hover{
    opacity: 0.5;
}
.hover-img43 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img43{
    display: block;
  }
.data44{
    width:3.5vw;
    position:relative;
    bottom:96vh;
    left:50vw;
}
.data44:hover{
    opacity: 0.5;
}
.hover-img44 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img44{
    display: block;
  }
.data45{
    width:2.4vw;
    position:relative;
    bottom:99vh;
    left:57vw;
}
.data45:hover{
    opacity: 0.5;
}
.hover-img45 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img45{
    display: block;
  }
.data46{
    width:8vw;
    position:relative;
    bottom:64vh;
    left:-7vw;
}
.data46:hover{
    opacity: 0.5;
}
.hover-img46 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img46{
    display: block;
  }
.data47{
    width:6.4vw;
    position:relative;
    bottom:60vh;
    left:-12vw;
}
.data47:hover{
    opacity: 0.5;
}
.hover-img47 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img47{
    display: block;
  }
.data48{
    width:4.7vw;
    position:relative;
    bottom:60vh;
    left:-15vw;
}
.data48:hover{
    opacity: 0.5;
}
.hover-img48 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img48{
    display: block;
  }
.data49{
    width:3.3vw;
    position:relative;
    bottom:68vh;
    left:-20vw;
}
.data49:hover{
    opacity: 0.5;
}
.hover-img49 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img49{
    display: block;
  }
.data50{
    width:2.4vw;
    position:relative;
    bottom:58vh;
    left:-30vw;
}
.data50:hover{
    opacity: 0.5;
}
.hover-img50 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img50{
    display: block;
  }
.data51{
    width:8vw;
    position:relative;
    bottom:65vh;
    left:-4vw;
}
.data51:hover{
    opacity: 0.5;
}
.hover-img51 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img51{
    display: block;
  }
.data52{
    width:6vw;
    position:relative;
    bottom:65vh;
    left:-13vw;
}
.data52:hover{
    opacity: 0.5;
}
.hover-img52 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img52{
    display: block;
  }
.data53{
    width:6vw;
    position:relative;
    bottom:59vh;
    left:-16vw;
}
.data53:hover{
    opacity: 0.5;
}
.hover-img53 {
    display: none;
    width: 44vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img53{
    display: block;
  }
.data54{
    width:4vw;
    position:relative;
    bottom:59vh;
    left:-18vw;
}
.data54:hover{
    opacity: 0.5;
}
.hover-img54 {
    display: none;
    width: 37vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img54{
    display: block;
  }
.data55{
    width:3vw;
    position:relative;
    bottom:55vh;
    left:-30vw;
}
.data55:hover{
    opacity: 0.5;
}
.hover-img55 {
    display: none;
    width: 37vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img55{
    display: block;
  }
.data56{
    width:12vw;
    position:relative;
    bottom:65vh;
    left:-7vw;
}
.data56:hover{
    opacity: 0.5;
}
.hover-img56 {
    display: none;
    width: 41vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img56{
    display: block;
  }
.data57{
    width:7vw;
    position:relative;
    bottom:84vh;
    left:76vw;
}
.data57:hover{
    opacity: 0.5;
}
.hover-img57 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img57{
    display: block;
  }
.data58{
    width:6vw;
    position:relative;
    bottom:76vh;
    left:73vw;
}
.data58:hover{
    opacity: 0.5;
}
.hover-img58 {
    display: none;
    width: 33vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img58{
    display: block;
  }
.data59{
    width:4.6vw;
    position:relative;
    bottom:74vh;
    left:64vw;
}
.data59:hover{
    opacity: 0.5;
}
.hover-img59 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img59{
    display: block;
  }
.data60{
    width:3.2vw;
    position:relative;
    bottom:84vh;
    left:67vw;
}
.data60:hover{
    opacity: 0.5;
}
.hover-img60 {
    display: none;
    width: 34vw;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .container02:hover .hover-img60{
    display: block;
  }