@font-face {
    font-family: 'ITC Gothic';
    src: url('SerifGothic-Light.woff2') format('woff2'),
        url('SerifGothic-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html{
    background-color: black
}
.flex-container {
  display: flex;
  flex-direction: column;
  
}

.flex-container > div {
  
  width: 7vh;
  margin:0vh;
  text-align: center;
  line-height:1vh;
  font-size: 0.5vh;
}
.one p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:5.5vh;
    left:7.5vh;
    transform: rotate(15deg);
}
.two img{
    width:9vh;
    position: relative;
    left:-0.7vh;

}
.two p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:14vh;
    left:7.5vh;
    transform: rotate(15deg);
}
.three img{
    width:11vh;
    position: relative;
    left:-2.1vh;
    top:-2.6vh;

}

.three p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:22vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.four img{
    width:17vh;
    position: relative;
    left:-5vh;
    top:-9vh;

}
.four p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:31.9vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.five img{
    width:20vh;
    position: relative;
    left:-7vh;
    top:-21vh;

}
.five p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:40.4vh;
    left:7.5vh;
    transform: rotate(15deg);
}
.six img{
    width:23vh;
    position: relative;
    left:-8.4vh;
    top:-35vh;

}
.six p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:48.5vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.seven img{
    width:26vh;
    position: relative;
    left:-9.8vh;
    top:-53vh;

}
.seven p{
    font-family: 'ITC Gothic';
    color: white;
   
    position: fixed;
    top:59.5vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.eight img{
    width:17vh;
    position: relative;
    left:-5vh;
    top:-67vh;

}
.eight p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:67vh;
    left:7.5vh;
    transform: rotate(15deg);
}

.nine img{
    width:15vh;
    position: relative;
    left:-4.6vh;
    top:-75.3vh;

}
.nine p{
    font-family: 'ITC Gothic';
    color: white;
    
    position: fixed;
    top:77.6vh;
    left:7.5vh;
    transform: rotate(15deg);
}
