@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/HelveticaBd___-.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.ttf") format("truetype");
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}



.frame2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 272px;
  height: 1010px;
  padding: 16px 17px;
  width: 1728px;
}

.frame2 .overlap-group {
  height: 160px;
  position: relative;
  width: 466px;
}

.frame2 .on-beginnings {
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l);
  font-weight: 100;
  left: 0;
  letter-spacing: 1.93px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 418px;
}
a:hover {
  background-color: rgba(255, 255, 0, 0.791);
}
a{
  text-decoration-line: none;
}
a:link{color:black;}
a:hover{color:black;}
a:visited{color:black;}
a:active{color:black;}

.frame2 .from-madness-rack-a {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 73px;
  letter-spacing: 0.88px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 393px;
}

.frame2 .arrow-4 {
  height: 17px;
  left: 356px;
  position: absolute;
  top: 25px;
  width: 34px;
}

.frame2 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 637px;
  margin-right: 18px;
  min-width: 1656px;
}

.frame2 .arrow-2 {
  height: 17px;
  margin-top: 145.34px;
  width: 239px;
}

.frame2 .frame-11::-webkit-scrollbar {
  display: none;
  width: 0;
}

.frame2 .frame-11 {
  display: flex;
  height: 637px;
  margin-left: 103px;
  overflow-x: scroll;
  width: 1010px;
}

.frame2 .frame-10 {
  align-items: flex-start;
  display: flex;
  gap: 135px;
  height: 1245px;
  margin-top: -55px;
  position: relative;
  width: 5710px;
}

.frame2 .in-life-the-number {
  height: 576px;
  letter-spacing: 1.81px;
  line-height: 41px;
  margin-top: -1.00px;
  position: relative;
  width: 1034px;
  
}

.frame2 .ry-the {
  height: 523px;
  letter-spacing: 2.37px;
  line-height: 43px;
  margin-top: -1.00px;
  position: relative;
  width: 1034px;
}

.frame2 .span {
  line-height: 60px;
}

.frame2 .span-1 {
  letter-spacing: 1.81px;
  line-height: 41px;
}

.frame2 .paul-valry-also-des {
  height: 580px;
  letter-spacing: 2.37px;
  line-height: 43px;
  margin-top: -1.00px;
  position: relative;
  width: 1034px;
}

.frame2 .in-the-beginning-was {
  height: 1245px;
  letter-spacing: 2.37px;
  line-height: 43px;
  margin-top: -1.00px;
  position: relative;
  width: 1034px;
}

.frame2 .arrow-2-1 {
  height: 17px;
  margin-left: 82px;
  margin-top: 145.34px;
  width: 239px;
}

:root { 
  --black: #000000;
 
  --font-size-l: 35px;
  --font-size-m: 33px;
  --font-size-s: 16px;
  --font-size-xl: 43px;
 
  --font-family-helvetica-bold: "Helvetica-Bold", Helvetica;
  --font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
}


.helvetica-bold-black-33px {
  color: var(--black);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

