

a:hover {
  background-color: rgba(255, 255, 0, 0.791);
}
a{
  text-decoration-line: none;
}
a:link{color:black;}
a:hover{color:black;}
a:visited{color:black;}
a:active{color:black;}

.frame4 {
  background-color: #ffffff;
  position: absolute;
  height: 0px;
  width: 1650px;
}

.frame4 .overlap-group1 {
  height: 1117px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1728px;
}

.frame4 .arrow-1 {
  left: 1440px;
  top: 445px;
  width: 239px;
}

.frame4 .arrow-2 {
  left: 0px;
  top: 445px;
  width: 239px;
}

.frame4 .x1-1 {
  height: 922px;
  right:900px;
  top: 0;
  width: 898px;
}

.frame4 .x1-2 {
  height: 553px;
  left: 1098px;
  top: 487px;
  width: 630px;
}

.frame4 .frame-11::-webkit-scrollbar {
  display: none;
  width: 0;
}

.frame4 .frame-11 {
  display: flex;
  height: 637px;
  left: 340px;
  overflow-x: scroll;
  position: absolute;
  top: 200px;
  width: 1050px;
}

.frame4 .frame-10 {
  align-items: flex-start;
  display: flex;
  gap: 135px;
  height: 1245px;
  margin-top: -5px;
  position: relative;
  width: 6879px;
}

.frame4 .gaston-bachelard-say {
  height: 100px;
  letter-spacing: 2.0px;
  line-height: 40px;
  margin-top: 150px;
  position: relative;
  width: 1034px;
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l);
}

.frame4 .i-am-afraid-there-is {
  height: 523px;
  letter-spacing: 2.0px;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  width: 1034px;
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l);
}

.frame4 .span {
  line-height: 70px;
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l);
}

.frame4 .span-1 {
  letter-spacing: 2.0px;
  line-height: 30px;
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l);
}

.frame4 .frame-10-item {
  height: 523px;
  letter-spacing: 2.0px;
  line-height: 30px;
  margin-top: 40px;
  position: relative;
  width: 1034px;
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l);
}

.frame4 .easy-and-appropriate {
  height: 580px;
  letter-spacing: 2.0px;
  line-height: 30px;
  margin-top: 60px;
  position: relative;
  width: 1034px;
}

.frame4 .the-poem-is-the-cons {
  height: 500px;
  letter-spacing: 2.0px;
  line-height: 30px;
  margin-top: 80px;
  position: relative;
  width: 1034px;
}

.frame4 .overlap-group {
  height: 160px;
  left: 1245px;
  position: absolute;
  top: 16px;
  width: 466px;
}

.frame4 .on-beginnings {
  color: var(--black);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 0;
  letter-spacing: 1.93px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 418px;
}

.frame4 .from-madness-rack-a {
  color: var(--black);
  font-family: var(--font-family-helvetica-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 73px;
  letter-spacing: 0.88px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 393px;
}

.frame4 .arrow-4 {
  left: 356px;
  top: 25px;
  width: 34px;
}

.frame4 .arrow {
  height: 17px;
  position: absolute;
}

.frame4 .x1 {
  object-fit: cover;
  position: absolute;
}

@font-face {
  font-family: "Helvetica-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaBd___-.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Helvetica.ttf") format("truetype");
}




.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

:root { 
  --black: #000000;
 
  --font-size-l: 20px;
  --font-size-m: 38px;
  --font-size-s: 35px;
  --font-size-xs: 16px;
 
  --font-family-helvetica-bold: "Helvetica-Bold", Helvetica;
  --font-family-helvetica-regular: "Helvetica-Regular", Helvetica;
}
.helvetica-bold-black-43px {
  color: var(--black);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.helvetica-bold-black-38px {
  color: var(--black);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

