@font-face {
    font-family: 'Monospace';
    src: url('Monospace.woff2') format('woff2'),
        url('Monospace.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.responsive {
    width: 60%;
    height: auto;
  }

  button{
    border: solid 1px;
    font-family: 'Monospace';
    font-size:0.8vw;
    background-color:#ffff5b;

    cursor: pointer;
    padding: 0.4vw;

}
button:hover{
    background-color: rgb(255, 249, 203);
}

  .text{
    text-align:center;
    font-family: 'Monospace';
    font-size: 1.3vw;
    position: relative;
    top:7vw;
    
  }
 
  .img1 img{
    max-inline-size: 10%;
  block-size: auto;
  position: absolute;
  bottom:50vh;
  left:4vh;
  }
  .img2 img{
    max-inline-size: 10%;
    block-size: auto;
    position: absolute;
    bottom:35vh;
    left:85vw;
  }
  .img3 img{
    max-inline-size: 10%;
    block-size: auto;
    position: absolute;
    bottom:15vh;
    left:15vw;
  }
  .title svg{
    width:20vw;
    position: absolute;
    left:80vw;
    top:44.8vw;
}
.back{
    font-family: 'Monospace';
    font-size:1.5vw;
    position: absolute;
    left:85.5vw;
    top:48.9vw;
}

  @media (min-width: 360px){
    .responsive{
        position: relative;
        top:30vw;
    }
    .text{
        text-align:center;
        font-family: 'Monospace';
        font-size: 1.3vw;
        position: relative;
        top:33vw;
        
      }
      button{
        border: solid 1px;
        font-family: 'Monospace';
        font-size:0.8vw;
        background-color:#ffff5b;
        cursor: pointer;
        padding: 0.4vw;
        position:relative;
        top:30vw;
    
    }
    .img1 img{
        max-inline-size: 10%;
      block-size: auto;
      position: absolute;
      bottom:54vh;
      left:4vh;
      }
      .img2 img{
        max-inline-size: 10%;
        block-size: auto;
        position: absolute;
        bottom:52vh;
        left:85vw;
      }
      .img3 img{
        max-inline-size: 10%;
        block-size: auto;
        position: absolute;
        bottom:35vh;
        left:10vw;
      }
      .title svg{
        width:28vw;
        position: absolute;
        left:74vw;
        top:86.5vw;
    }
    .back{
        font-family: 'Monospace';
        font-size:0.1vw;
        position: absolute;
        left:80.5vw;
        top:92vw;
    }

  }

  @media (min-width: 700px){
    .responsive {
        position: relative;
        top:13vw;
    }
    .text{
        text-align:center;
        font-family: 'Monospace';
        font-size: 1.3vw;
        position: relative;
        top:16vw;
        
      }
      button{
        border: solid 1px;
        font-family: 'Monospace';
        font-size:0.8vw;
        background-color:#ffff5b;
        cursor: pointer;
        padding: 0.4vw;
        position:relative;
        top:10vw;
    
    }
    .img1 img{
        max-inline-size: 10%;
      block-size: auto;
      position: absolute;
      bottom:60vh;
      left:4vh;
      }
      .img2 img{
        max-inline-size: 10%;
        block-size: auto;
        position: absolute;
        bottom:55vh;
        left:85vw;
      }
      .img3 img{
        max-inline-size: 10%;
        block-size: auto;
        position: absolute;
        bottom:40vh;
        left:15vw;
      }
      .title svg{
        width:20vw;
        position: absolute;
        left:80vw;
        top:60.8vw;
    }
    .back{
        font-family: 'Monospace';
        font-size:1.5vw;
        position: absolute;
        left:85.5vw;
        top:64.9vw;
    }
    
  }
  @media (min-width: 968px){
    .responsive{
      position: relative;
      top:1vw;
  }
  .text{
      text-align:center;
      font-family: 'Monospace';
      font-size: 1.3vw;
      position: relative;
      top:3vw;
      
    }
    button{
      border: solid 1px;
      font-family: 'Monospace';
      font-size:0.8vw;
      background-color:#ffff5b;
      cursor: pointer;
      padding: 0.4vw;
      position:relative;
      top:1vw;
  
  }
    .img1 img{
        max-inline-size: 10%;
      block-size: auto;
      position: absolute;
      bottom:47vh;
      left:3vh;
      }
      .img2 img{
        max-inline-size: 10%;
        block-size: auto;
        position: absolute;
        bottom:45vh;
        left:85vw;
      }
      .img3 img{
        max-inline-size: 10%;
        block-size: auto;
        position: absolute;
        bottom:7vh;
        left:14vw;
      }
      .title svg{
        width:20vw;
        position: absolute;
        left:80vw;
        top:43.8vw;
    }
    .back{
        font-family: 'Monospace';
        font-size:1.5vw;
        position: absolute;
        left:85.5vw;
        top:48vw;
    }
  }