body {
    background-image: url("2.png");
    font-family: Arial, sans-serif;
    font-smooth: never;
    font-size: 16px;
    -webkit-font-smoothing: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  #desktop {
    color: white;
  }
  
  .icons {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 14px;
   
  }
 

  
  .icons .name {
    border: 1px solid transparent;
    padding: 1px;
  }
  
  .icons.focus .name {
    background: #000084;
  }
  
  .icons.border .name {
    border: 1px dotted white;
  }
  
  .icons img {
    width: 40px;
  }
  
  
  #bottombar {
    background: #BDBDBD;
    height: 26px;
    padding: 2px;
    border-top: 2px solid white;
    box-shadow: 0 0 0 2px #DEDEDE;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
  }
  
  #start {
    border: 2px solid;
    border-color: white black black white;
    display: inline-block;
    padding: 3px;
    padding-left: 20px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8329/start.png");
    background-repeat: no-repeat;
    background-position: 2px 50%;
  }
  
  #right {
    border: 2px solid;
    border-color: #7B7B7B white white #7B7B7B;
    padding: 3px;
    float: right;
  }
  
  .task {
    border: 2px solid;
    border-color: white black black white;
    display: inline-block;
    padding: 3px;
    width: 140px;
  }
  
  #selection {
    position: absolute;
    border: 1px dotted white;
    background: #2C2C8E;
    opacity: 0.8;
  }
