.folder {

  top:400px;
  display: flex;
justify-content: center;
align-items: center;
  
}
@font-face {
  font-family: 'Typold ExtraThin';
  src: url('Typold-ExtraThin.woff2') format('woff2'),
      url('Typold-ExtraThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.text{
  font-family: 'Typold ExtraThin';
  font-size: large;
  padding: 8vw;
  position: relative;
  top:0vw
  
}

.circle img {
  width: 15vw;
  height: 6.7vw;
  position:absolute;
  bottom:87.6vh;
  left:0vw;
 
 
}
            
.arrow1 {
  border: solid black;
  position: absolute;
  bottom:91.3vh;
  left:89vw;
 
  border-width: 0 9px 9px 0;
  display: inline-block;
  padding: 9px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  
}
.arrow1:hover {
  border-color: red;
}
.arrow2 {
  border: solid black;
  position: absolute;
  bottom:91.3vh;
  left:94vw;
 
  border-width: 0 9px 9px 0;
  display: inline-block;
  padding: 9px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
 
}
.arrow2:hover {
  border-color: red;
}